body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block!important; vertical-align: bottom; }
@font-face {
    font-family: '9537';
    src: url('../font/9537.otf') format('opentype');
}
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #b61924; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
}

h1{
    font-family:'9537';
    font-size:8em;
    width:100%;
    text-align:center;
    color:#ffffff;
}